[2018-01-10 19:09] noprompt opened #2 "Remove `bottom` parameter from `unify` and `unify*`"
`unify` returns either a substitution map or the bottom value. `nil` can serve as bottom since there's no need to distinguish it from the substitution map. Since `nil` is associative like a map, there is some concern that one using `unify` could accidentally work with it like it were a map, however, that can be solved by convention using the unification API (`extend`, `bound?`, etc.). It's worth n

[2018-01-11 07:22] #2 closed, assigned to nobody

[2018-01-25 04:41] noprompt opened #3 "Implement meander protocols for clojure.lang.PersistentHashSet"

[2018-01-26 22:31] #3 closed, assigned to nobody

[2018-01-26 22:39] noprompt opened #4 "Lazily derive permutations"
Maps, sets, and patterns which contain splicing variables all utilize `meander.util/permutations` under the hood to generate their search space. Currently, permutations are generated eagerly using [Heap's algorithm](https://en.wikipedia.org/wiki/Heap%27s_algorithm). Though Heap's algorithms is elegant and compact, the eagerness property is unattractive.

[2018-02-07 05:42] #4 closed, assigned to nobody

[2018-02-07 05:54] noprompt opened #5 "Add Stratego/XT style combinators for rule control"
[Stratego/XT](http://strategoxt.org/Stratego/WebHome) uses "strategy" combinators to control rule application. This is much more practical than the current repeatedly-apply-rules-to-a-term-until-it-doesn't-change model. Brandon Bloom, who originally suggested I take a look at Stratego/XT, [did some work](https://github.com/brandonbloom/retree) to port the combinators over to Clojure and has grante

[2018-02-07 05:55] noprompt opened #6 "Compile unify* patterns to Clojure code"

[2018-02-07 05:55] noprompt opened #7 "Compile substitution patterns to Clojure code"

[2018-02-09 01:39] #6 closed, assigned to nobody

[2018-02-09 08:54] #7 closed, assigned to nobody

[2018-02-26 01:48] #5 closed, assigned to nobody

[2018-10-21 22:42] jimmyhmiller opened #8 "Zero or more patterns without prefix cause invalid code"
Improper use of the zero or more pattern is not caught early and results in invalid code generation. I discovered this while playing around with meander before I understood how `...` worked. (Though I must admit I'm still not sure how to properly express what I was hoping to with the code below).

[code]

If we look at what this pattern parses to it makes sense why it would generate incorrect code

[2018-10-22 22:30] noprompt commented on #8
@jimmyhmiller Thanks for the excellent report!

This was a corner case I knew about but had not addressed yet. I agree with your survey and I think that 3 is the most appropriate route here. The proposed solution seems sound. Nice work connecting all the dots!

Do you feel comfortable patching it?

[2018-10-22 22:32] noprompt commented on #8
We'll likely want to address `:rp+` as well. We could do that separately but I'm fine with it being solved in the same patch.

[2018-11-05 18:08] #8 closed

[2018-12-29 06:18] noprompt opened #11 "search does not play well with not"
A `search` containing a `not` pattern can produce invalid answers.

[code]

[2019-01-10 05:19] #11 closed, assigned to nobody

[2019-01-12 01:07] boxxxie opened #14 "Determine release process for Clojars"

[2019-01-12 04:02] AdamNiederer opened #15 "Why do some map patterns accept any map?"
Hello, I noticed some interesting behavior using `meander.match.alpha/match` and `meander.match.alpha/search` - it looks like any given map pattern will accept a map regardless of the keys in the pattern.

[code]

Is this intended behavior? I would guess from the documentation that map patterns will only accept maps with a superset of the keys in the pattern.

It looks like it behaves as I would e

[2019-01-13 00:45] noprompt commented on #15
Yes, this is by design and it should be explained in the README. Map patterns have semantics close to `{:keys [,,,]}` destructuring *up to* key value pairs where the key is ground and the value is a variable. Here is a search demonstrating each of these cases.

[code]

If you look at the macro expansion (don't 😄) you'll notice `get` is used to pull the values and the variables are then bound to th

[2019-01-13 01:04] noprompt commented on #14
@boxxxie I haven't made time to put together a release process for Clojars but I plan to look into it soon. It looks like it is possible to utilize this library via [this Leiningen plugin](https://github.com/RickMoynihan/lein-tools-deps) provided you have a `deps.edn` containing the following (or semantically equivalent).

[code]

[2019-01-13 03:01] boxxxie commented on #14
thanks. going down the rabbit whole with that plugin and deps.

I can bring meander into my project now

[2019-01-13 04:24] noprompt commented on #14
@boxxxie Cool. Thanks for your patience. When I release the library to Clojars I’ll let you know.

[2019-01-15 02:18] AdamNiederer commented on #15
Thanks for the in-depth explanation - that was exceedingly helpful! I hadn't thought of composing different patterns in that way - with the ability to do that, the current setup makes a lot more sense. Thanks again!

[2019-01-19 08:43] noprompt commented on #14
@boxxxie I've deployed a release to Clojars and put together a few scripts to make the process easy for me to repeat in the future. [Here's](https://clojars.org/meander/alpha) the Clojars page (I've also stuck their badge on the `README`).

I'll cut new releases whenever bugs are fixed or significant enhancements are made in the source. 👍

[2019-01-19 08:43] #14 closed, assigned to nobody

[2019-01-19 18:45] boxxxie commented on #14
it's also common to have snapshot releases on clojars

[2019-01-19 19:33] noprompt commented on #14
@boxxxie It certainly is, however, my plan to is to release jars such that `SNAPSHOT`s would be redundant. I'll push new jars whenever the source is modified and tests pass. This way I can get releases out frequently and without the need to push intermediate, potentially broken, `SNAPSHOT` versions.

I could release a `SNAPSHOT` simultaneously with each new jar which could serve as pointer to the

[2019-01-22 19:22] pbaille opened #19 "readme's let exemple throws"
I've got the following error evaluating this readme form:

[code]

[2019-01-22 21:13] noprompt commented on #19
Ha! Damn README examples! 😄 I’ll take a look and get it fixed.

[2019-01-22 22:23] noprompt commented on #19
@pbaille I've fixed the issue and released a new jar. Thanks for the bug report!

[2019-01-22 22:23] #19 closed, assigned to nobody

[2019-02-01 01:08] timothypratley opened #20 "Match against JavaScript objects in ClojureScript"
It would be nice to support:

[code]

Then we can destructure JS objects yay

[2019-02-10 23:56] noprompt opened #21 "tuple strategy with more than 4 arguments is incorrect"
[code]
is
[code]
but should be
[code]

[2019-02-17 20:50] #21 closed, assigned to nobody

[2019-03-07 08:10] noprompt commented on #20
This is complete and available in `[meander/beta "0.0.29"]`. Sadly, my hopes of being able to use `search` with patterns like `#js {?k ?v}` were crushed by the ClojureScript reader which demands only string or unqualified keyword keys. Oh well. A way around this would be to create another form that can work around this limitation. That being said, I wrote the code anyway so that when such a form i

[2019-03-07 08:10] #20 closed, assigned to nobody

[2019-03-30 02:25] AdamNiederer opened #22 "Transforming values with functions via containment contexts"
Hello!

I've been playing around with the new containment (recursive scan?) pattern from the [gamma release notes](https://github.com/noprompt/meander/commit/fc0800e40561a7a570bb9ada24d7e79a04d85e5a), and I was curious if there was a way to use a context to replace a value by transforming it with a function, rather than replacing it outright.

For example, I'm currently able to write this:

[code]

[2019-03-31 00:23] noprompt commented on #22
Oh, I like that! It has an almost applicative feel to it. Also wouldn't take much effort to implement. It'd probably be worthwhile to mediate on what the substitution semantics would be (if such exist). One thing I've been very interested in is having match and substitution patterns be inverses of each other such that a rewrite rule where the left and the right sides are the same pattern is semant

[2019-04-04 21:29] timothypratley commented on #22
After re-reading that thread and the release notes, I think my use case is a good example :slightly_smiling_face:

I’ll try to write up a more formal description, but basically justice is:

    (:a ?x) => [?x :a ?result]
    (rule ?x) => (rule ?x ?result)
    [head (or clause1 clause2)] => [head clause] [head clause]
    [head (and clause1 clause2)] => [head clause clause]

And being able to go fr

[2019-04-05 19:59] timothypratley commented on #22
Is this code equivalent of `$*` ??:

[code]

Or as a strategy:

[code]

But is not symmetrical with substitution:
[code]

[2019-04-05 20:01] timothypratley commented on #22
Said another way, I think that any pattern `(and ?x 5)` should be substituted as 5.

[2019-04-08 10:15] ribelo opened #25 "~ returning map/set does not work the same as map/set pattern"
[code]

[2019-04-08 14:12] timothypratley commented on #25
I believe there is a restriction that the pattern to match with must be completely specified at compile time.

You can enforce this by using an eval macro:

[code]

The "strategy" version of match returns a function, so `k` here returns a function that takes an input to match against a pattern that was expanded at compile time.

[code]

[2019-04-08 16:04] noprompt commented on #25
@ribelo `~expr` gets compiled to an equality check on the evaluated value of `expr` which is why the second case fails. Here's an example that may help make this a bit more clear.

[code]

I am open to compiling a more intelligent check pending some thought on the implications.

[2019-04-14 03:07] timothypratley opened #27 "match/gamma.cljc fails spec compliance"
Requiring:

            [clojure.core.specs.alpha :as specs]

In user code causes

[code]
^^ stack trace left out for brevity.

In other words, ClojureScript hates import statements.

[2019-04-15 21:41] #27 closed, assigned to nobody

[2019-04-16 04:35] timothypratley opened #31 "Update to Clojure 1.10.0"
Not sure if you want to... but IMO 1.10.0 is an improvement for error checking.

[2019-04-16 23:42] noprompt commented on #31
Seems like a reasonable thing to do.

[2019-04-16 23:43] #31 closed, assigned to nobody

[2019-04-20 05:32] timothypratley opened #33 "rewrite fails when it should succeed"
Example:

[code]

However, note that sometimes the 2nd clause does work:

[code]

[2019-04-22 19:31] noprompt commented on #33
@timothypratley This a bug in the compilation of the `find` macro which `rewrite` uses.

[code]

[2019-04-22 19:39] noprompt commented on #33
Here's the compiled `find` code which demonstrates the problem.
[code]

[2019-04-23 06:24] #33 closed, assigned to nobody

[2019-05-06 13:42] timothypratley opened #34 "Create a top down tutorial"
Some people learn better top down rather than bottom up.
Also helps pull people in with the most interesting parts first.
Motivation: to help introduce workmates to why, and how a new syntax can help them in their every day work.

[2019-05-14 05:59] noprompt opened #36 "Compile a sequence of :check-lit to a case"
We can improve the code generated around sequences of literal checks by compiling them to a `case` expression. Currently the form
[code]
compiles to something like
[code]
but would be more efficient as
[code]
and even better if we could
[code]
The difference in overall time execution between each is roughly a millisecond or two. That may not sound like much but when you consider say, an L-System,

[2019-05-14 06:03] noprompt opened #37 "Literal nodes should be converted to :lit nodes before compilation"
A pattern like

[code]

will be parsed as

[code]
 which will be compiled to the IR
[code]
which seems wasteful.

This should compile to an equality test.

[2019-05-14 15:34] jimmyhmiller commented on #37
So is the idea here that
[code]

should be turned into

[code]

Before being turned into IR?

Or did you have some other implementation in mind?

[2019-05-14 17:33] noprompt commented on #37
@jimmyhmiller Yeah that's the idea. I've created a [branch](https://github.com/noprompt/meander/tree/convert-literal-nodes-to-lit-nodes) for this work if you want to take a look at it. Essentially we need to change the final case in `expand-node`.

[code]

Where `lit-form` converts a node into a literal.

[code]

This is essentially the same as `compile-ground` but without the `:unq` clause.

The

[2019-05-15 04:14] #37 closed, assigned to nobody

[2019-05-17 20:40] #36 closed, assigned to nobody

[2019-05-22 19:33] noprompt opened #41 "Zero or more failure leaks meander.match.ir.delta/FAIL"
[code]

[2019-05-22 19:53] #41 closed, assigned to nobody

[2019-05-31 21:03] xificurC opened #44 "The escaping example with `~(+ ?x ?y)` doesn't work on HEAD"
[code]

[2019-06-02 23:47] #15 closed, assigned to nobody

[2019-06-02 23:50] noprompt commented on #44
@xificurC Are your referring to this example?

[code]

I just tried this out and it seems to work as described in the README.

[2019-06-03 07:03] xificurC commented on #44
Hi @noprompt , yes.

[code]

This works:

[code]

[2019-06-03 07:11] noprompt commented on #44
@xificurC Okay, I was able to get the error. I see the problem now. The macro expansion comes out something like

[code]

which tells me that it's a prioritization problem and, indeed, it is. I'll patch this real quick!

[2019-06-03 07:18] xificurC commented on #44
Glad you found the problem so quickly. How come you weren't getting an error? The expansion you posted is invalid code. Are some parts of the codegen non-deterministic?

[2019-06-03 07:32] noprompt commented on #44
@xificurC Should be fixed now. I just pushed up `[meander/delta "0.0.111"]`. I tried it locally in an empty project and it seems to work fine. Thanks for opening up the issue.

I was working in a separate project earlier which was using older version. I should have checked that before replying earlier. Apologies! The compiler is deterministic and this pattern should compile consistently.

[2019-06-03 07:33] #44 closed, assigned to nobody

[2019-06-03 07:39] xificurC commented on #44
No problem, I only realized during the weekend that I wrote you I tested on `HEAD` whereas I actually just pulled 0.0.100. This time I was lucky and you weren't :)

Is there some research paper or something based on what you are operating? I love a good read. It would be nice to mention it in the README as well. A comparison with `core.match`, `core.logic`, `specter` and maybe others would be cool

[2019-06-03 16:31] noprompt commented on #44
@xificurC There are a number of papers and books I have drawn inspiration from. I plan to check in a comprehensive list of resources in a document at some point. For pattern matching, I consulted all of the papers mentioned in the `core.match` wiki as well as others mentioned elsewhere. For logic programming, I've read up on mini-kanren, Prolog, etc. For Term Rewriting (TR), I started with a few r

[2019-06-04 07:05] xificurC commented on #44
Thank you @noprompt for that detailed answer! Much appreciated. I might just get some of those books to get my feet wet :)

My enthusiasm span is unfortunately really poor, but it is yours right now, so if you have any tips where to look in the codebase I can try to look around. I'm not really familiar with the internals of pattern matching or the other topics but I might be able to optimize some

[2019-06-05 06:47] noprompt opened #45 "`scan` and `vscan` compiled poorly"
The `scan` and `vscan` operators currently have no custom compilation. They are parsed as if one had written them as

[code]

and

[code]

respectively. Thus they have no AST node of their own and are compiled through usual mechanisms for compiling seq and vector patterns. In this case, it results in less than optimal code for something which gives us enough information to do better.

Because we k

[2019-06-05 13:39] jimmyhmiller commented on #44
@xificurC Check this issue out for more information about the problem you mentioned here. https://github.com/noprompt/meander/issues/45

[2019-06-05 21:07] #45 closed, assigned to nobody

[2019-06-05 21:17] noprompt commented on #45
@jimmyhmiller @xificurC I just applied a patch to make the performance of `scan`, `vscan`, and patterns which look similar e.g. `[_ ... thing . _ ...]` perform better.

[code]

This is still going to be slower than `filter`, `some`, etc. by an order of magnitude for these kinds of searches and it is still possible to improve this further by doing a bit more analysis. More to come! 😅

[2019-06-14 00:32] noprompt opened #48 "Make defsyntax have the same syntax as defn"
`defsyntax` does not support multiple arities, etc. In its current form its severely limited. It should pretty much be like `defn`.

[2019-06-27 06:51] noprompt commented on #48
This has been partially addressed on the `epsilon` branch. I can retro fit it on `delta`, however, I'm not going to rush that unless someone wants me to. 😄

[2019-07-04 07:14] noprompt commented on #22
@AdamNiederer Apologies for the long pause between the time you opened this issue and now. I'm happy to say this will be easily achievable in the next release of Meander: `epsilon`. I haven't released my notes and details yet about the next arm of the project, however, the branch is publicly accessible if you want to try out the following.

First — and perhaps you've figured this out — you can act

[2019-07-17 22:29] noprompt commented on #48
I have the complete solution (for now) complete in `epsilon`. If someone wants to back port it to `delta` thats okay with me but my focus is going to be on `epsilon` (I can't do everything 😄). Beside, I think the stuff on `epsilon` is much, much better. More on that soon!

[2019-07-17 22:29] #48 closed, assigned to noprompt

[2019-07-17 22:39] noprompt commented on #22
I added this on the `epsilon` branch.

[2019-07-17 22:39] #22 closed, assigned to nobody

[2019-07-22 23:55] jimmyhmiller opened #55 "Create generators for free"
Wouldn't it be great if we could automatically create generators for a pattern and then be able to exercise them automatically?

There are  some patterns that we couldn't do this for e.g. `(m/pred my-custom-pred-with-no-generator ?x)`. But thanks to spec allowing generators on preds we should be able to handle those if they have a generator defined. It would be fantastic to automatically see the s

[2019-08-03 08:52] vijaykiran opened #58 "Please add license information"
I can't find any info on what type of license this project uses. I think this is critical piece of information about the source code which will help using the project.

[2019-08-03 16:52] noprompt commented on #58
Sure thing. I will add a license to the project soon. Thanks for pointing this out! 👍

[2019-08-04 17:23] jimmyhmiller commented on #58
@vijaykiran We decided on MIT and added it to the repo https://github.com/noprompt/meander/blob/delta/LICENSE. Sorry we missed that before. Thanks for pointing it out.

[2019-08-04 17:23] #58 closed, assigned to nobody

[2019-08-16 04:01] jimmyhmiller opened #59 "Gather operator"
`m/scan` is an incredibly useful operator when searching for things. It would be great to have something like it for match. More or less, this would act like filter. I made an operator and called it gather. Here is the preliminary definition.

[code]

This definition works in the simple case (there is in epsilon bug with or and maps being combined, but we will ignore that). Below are some simple c

[2019-08-17 19:43] noprompt commented on #59
There are a few things that we should consider for this operator.

First, if the first argument `pattern` contains unbound logic variables we'll get an error when we check the syntax.

[code]

Fortunately, there is information in the exception to help us figure out that `gather` is responsible.

[code]

It is possible for the parsing step to collect this information and make it available to syntax

[2019-08-17 19:49] jimmyhmiller commented on #59
Thanks for the thorough dive. The idea of creating a fresh memory variables is interesting. Though it does seem a bit wasteful. It is a collection I am making that will just be thrown away. I tried something similar with mutatable variables. But they don't seem actually mutatable, just rebindable?

I will explore using that idea implementation wise though at least as a starting point, thanks!

As

[2019-08-17 21:39] noprompt commented on #59
I hear you. We could use a `volatile!`.

[code]

In this case there would likely be less garbage. There is no apparent difference with respect to performance between the two implementations. I also tried `transient` with the same results. A `volatile!` would be the cheapest.

I'm okay with accepting the ellipsis in addition to the other types I mentioned e.g. the second argument may be either `nat

[2019-08-17 21:53] noprompt commented on #59
In the case of this operator, I'm not a fan of the allowance of the ellipsis because it is not being used as a modifier as usual i.e. as it can be used in `seqable`. It could be confusing but, hey, that what documentation is for, right? But I'm still open to allowing it because I see little harm and because it would add very little additional code. Once we've determined its an ellipsis and parsed

[2019-08-19 02:18] jimmyhmiller commented on #59
Here is a simplified version of what I was attempting to do that made me believe that the ellipsis should behave that way.

[code]

To me this very succinctly says to find all the business addresses for people with names. Using the ..!n to capture how many business addresses there are seems completely reasonable. But if we made it behave the way it does in my initial definition above, we actually

[2019-08-21 13:36] daslu opened #61 "typo in rp+-test ?"
Thank you for this brilliant library!

https://github.com/noprompt/meander/blob/delta/test/meander/substitute/delta_test.cljc#L53

[code]

The last equality's parens seems misplaced, IIUC.

[2019-08-21 16:37] noprompt commented on #61
@daslu That's definitely a typo. Were you able to verify the test passes upon fixing it? If it does, and you feel comfortable patching it, I'd accept and merge a patch for that.

[2019-08-22 15:36] daslu opened #62 "Support for Clojure 1.8"
Continuing a recent discussion at Clojurians Slack, I have had some experiments porting Meander to Clojure 1.8.

The following changes were necessary:
* Changing the Clojure dependency to "1.8.0"
* Adding [clojure-future-spec](https://github.com/tonsky/clojure-future-spec) as a dependency
* Adding a patch namespace with all the necessary predicates (`nat-int?`, etc.), that were added at Clojure 1.

[2019-08-22 22:44] daslu opened #63 "Pure-data API"
In the last few days I have been using Meander for some declarative data processing project. In order to communicate data processing "as data", I wrapped a subset of Meander in a Pure-EDN API.

For example, instead of
[code]

One may write something like:
[code]

Behind the scenes, there is a memoized compilation of
[code]
to a function that expects data such as
[code]
.

Would it be interesting t

[2019-08-23 06:55] noprompt commented on #63
My preference would be towards having a separate library though I very much like what you are doing. I've done a similar thing myself working on an application for doing syntactic search and replace. What you're doing looks interesting!

One thing I would be willing to support is an interpreter and I've done [some work](https://gist.github.com/noprompt/085d100de4e85d7b643e438498e08b56) on this (se

[2019-08-23 06:56] noprompt commented on #61
This typo was caught and does not exist on the `epsilon` branch.

[2019-08-23 07:07] noprompt commented on #62
I'm not sure if a separate code base would be needed. It seems like it should be possible to support 1.8 by fixing some of the above issues. The fix with `##Inf`, missing functions, etc. seem trivial to fix.

We could add a separate test profile for 1.8 which depends on `clojure-future-spec` which would be run via the `bin/test` script. Adding `clojure-future-spec` as an explicit dependency does n

[2019-08-23 08:30] daslu commented on #61
Yes, at the current `delta` branch, all tests pass after fixing it.
Thanks, I can do a pull request a little later today.

[2019-08-23 08:42] daslu commented on #62
Thanks.

An explicit `clojure-future-spec` seems necessary, since Meander itself relies on spec (e.g., `s/fdef` at various places).

Still haven't manage to make the Clojurescript part work with the Clojure 1.8 patch. I will dive into that a little later.

[2019-08-23 08:53] daslu commented on #63
Thanks. I will try to share something as a separate repo.

The interpreted idea looks really neat and useful!
(In my use case, the goal is to make Meander processing accessible to a team of analysts who do not know Clojure, so we might prefer something which is not only pure-data, but also more JSON-like. Anyway, I'll think a little more.)

[2019-08-24 05:10] noprompt commented on #62
Interesting. For some reason I thought it wouldn't be needed since, if the library consumer was providing those namespaces by way of `clojure-future-spec`, those namespaces would be on the class path and resolve properly. I think it is possible to put the burden on the end user to provide those namespaces. I suppose I should try it out locally and see for myself! 😄

[2019-08-24 05:11] noprompt commented on #59
This is all sorted out on the `epsilon` branch. If we need to revisit this discussion, we'll can reopen this ticket.

[2019-08-24 05:11] #59 closed, assigned to nobody

[2019-08-24 18:47] noprompt commented on #62
We could also place the specs in their own namespace(s).

[2019-09-12 06:07] den1k opened #65 "Multimethod alternative?"
I've been thinking a lot about an alternative to multimethods that use patterns in the definition and partial matching in dispatch. I imagine two kinds of this to be useful:

1. A single dispatch on the most specific match
2. Dispatches for all matches (like an exhaustive `match`)

2 is easy. I think I'd simply run `match` with a `doseq` and the patterns of all functions.
1 seems difficult. There

[2019-09-13 14:20] eraserhd opened #66 "Inconsistently requires the same kind of container"
[code]

[2019-09-13 18:58] jimmyhmiller commented on #66
Thanks for reporting this @eraserhd I made a PR for fixing it in epsilon.

[2019-09-13 21:49] noprompt commented on #66
This is fixed on `epsilon` which is now the main line of the project. Patches for `delta` are welcome for anyone who wishes to continue along with `delta`.

[2019-09-13 21:49] #66 closed, assigned to nobody

[2019-09-13 21:52] #63 closed, assigned to nobody

[2019-09-13 21:53] noprompt opened #68 "Expose an interpreter interface"
Meander should also allow for patter matches to be interpreted. There are many places where this could be useful. See #63 for some motivation.

[2019-09-13 21:53] noprompt commented on #61
This has been fixed in `epsilon` which is not the main branch of the project. If you'd still like to submit a patch to the `delta` branch, please feel free.

[2019-09-13 21:53] #61 closed, assigned to nobody

[2019-09-14 07:54] den1k commented on #65
Just made a first cut of this that leverages clojure.spec: https://github.com/den1k/defmostly

The key ingredient is a notion of specificity. Currently achieved by counting spec predicates.

[2019-09-17 18:35] MageMasher opened #69 "Blogpost for practical meander has ending slash causing 404"
Currently the blog post section has a link pointing at:
`https://jimmyhmiller.github.io/meander-practical/` which 404's while
`https://jimmyhmiller.github.io/meander-practical` (No trailing slash) succeeds.

Not sure if this is an issue for the meander project or @jimmyhmiller (or both)

[2019-09-17 18:46] noprompt opened #70 "defsyntax specs can break"
It has been demonstrated elsewhere the spec for `defsyntax`, `:clojure.core.specs.alpha/defn-args`, can cause breakage. A user can avoid this problem by relying on a later version of `core.specs`, however, this is not actually a solution the problem. I propose the spec for `defsyntax` be defined "in-house" such that any related problems are our own.

[2019-09-17 18:46] jimmyhmiller commented on #69
Thanks for pointing this out. I fixed the link here and will hopefully make my site handle both. I must have introduced this problem yesterday on upgrade.

[2019-09-17 18:46] #69 closed, assigned to nobody

[2019-09-19 22:39] dgr opened #72 "n-or-more has an off by one error"
Consider this Meander-based function to split names into first and last parts (yes, I know the real world is more complex than this for names, but this is the smallest function that highlights the issue):

[code]

Note that I'm using !firsts with ..1 so that I can match multiple first names (e.g., "John Paul" or "Mary Beth").

Consider the results this gives for some common cases:
[code]

If I cha

[2019-09-19 22:44] dgr commented on #72
I should also say that if I use "..." instead of "..1", then when I call the function on "MADONNA" then I get "[[] "MADONNA"]" as the output instead of nil, which is not what I want. Basically, I want something that matches 2+ names, with the first n-1 names landing in !firsts and only the last landing in ?last, and not matching for 0 or 1 names.

[2019-09-19 22:48] dgr commented on #72
Also, this is with Epsilon 0.0.187 from Clojars (latest as-of today).

[2019-09-19 23:07] noprompt commented on #72
@dgr Thanks for the report. I've been able to reproduce the bug. I'll fix it as quickly as I can.

[2019-09-19 23:52] dgr commented on #72
Thank you. No worries. Glad to know that it wasn't pilot error on my part. :-) I kept reading and re-reading the documentation to make sure I hadn't screwed something up. This is my first time using Meander in anger, having looked at it a year or so ago. I'm still getting the hang of it.

[2019-09-19 23:53] dgr commented on #72
BTW, I should also say that when it works, it's really amazing in terms of how much it simplifies my logic. I can see that it's going to be a strong tool for me going forward.

[2019-09-19 23:59] noprompt commented on #72
@dgr I have found the bug and am working to fix it. Thanks for reporting the bug!

I'm glad you're finding the project interesting. As soon as I get this fixed "when it works" should include this case too. 😉

[2019-09-20 19:20] noprompt commented on #72
@dgr This his been [fixed](https://github.com/noprompt/meander/blob/epsilon/test/meander/epsilon_test.cljc#L2106-L2122) along with several other problems.

[2019-09-20 19:20] #72 closed, assigned to noprompt

[2019-09-20 21:39] dgr commented on #72
@noprompt , thanks!

[2019-09-23 17:35] yuhan0 opened #74 "Proposal: map-of operator, grouping / joining construct"
This was prompted by a question on the Slack channel on how to match and substitute maps which represent homogeneous, variable-length mappings instead of a heterogeneous collection of keys.

The example I had in mind was how to transform the nested data structure
[code]
into the following result
[code]

It turns out this example conflates a "database join", or grouping operation which may be a sep

[2019-09-24 09:04] lvrg-acc opened #76 "Got errors on require meander"
Hi there, stumbled upon this error. Am I doing something wrong?

[code]

[2019-09-24 16:06] noprompt commented on #76
@RomanTsopin It is not clear based on this information whether the problem is with Meander.

Are you able to reproduce the error with only Clojure and Meander as dependencies?

If you have `clj` installed, try

[code]

Followed by

[code]

Considering the error it seems unlikely Meander is the culprit.

[2019-09-25 07:11] lvrg-acc commented on #76
Yes, that works, thank you!
Interesting that I haven't seen similar problems with other libraries. Maybe it's some erroneous plugin behaviour. I guess the issue could be closed.

[2019-09-25 12:48] jimmyhmiller commented on #76
I'll see if I can recreate it later today. Even if it is not only meanders fault it is worth knowing what is causing the breakage. It could be lein try or something in your lein user profile. If you can share that that would be great.

[2019-09-25 15:15] lvrg-acc commented on #76
Here's ~/.lein/profiles.clj
` {:user {:plugins [[lein-try "0.4.3"]]}}`

[2019-09-25 15:40] jimmyhmiller commented on #76
@RomanTsopin I just tried this with your same profile and at first was not able to reproduce.

But I was on an older jdk, switch to jdk13 and was able to reproduce. I can verify this isn't a meander issue though, you can see this issue here for more about what is going on. https://github.com/technomancy/leiningen/issues/2149

You can see that there are lots of different issues around this. Honestl

[2019-09-25 15:44] #76 closed, assigned to nobody

[2019-10-01 11:17] yuhan0 opened #77 "Unqualified `:as` syntax inside map pattern can be problematic"
Vector and map patterns currently accept the special `:as` key which binds to the entire structure, however unlike Clojure's destructuring syntax, it is ambiguous when attempting to match with an actual map key named `:as`
[code]

Also the analogy with map destructuring doesn't completely hold, eg. `:keys` does not bind to the map keys.

With epsilon's shift towards namespaced operators, would it

[2019-10-01 11:29] jimmyhmiller commented on #77
Definitely agree that it should be namespaced. Personally I still like it being a keyword and not a symbol. You can do the operator style with m/and. Though it might still be good to add an explicit as operator as well.

Thanks for the issue.

[2019-10-01 16:32] noprompt commented on #77
@yuhan0 Great example of the problem. We could support the qualified keyword `:meander.epsilon/as` (thus making `::m/as` possible), however, to phase out `:as` would require a branch to `zeta` since that'd be a breaking change. `zeta` is bound to happen eventually, however, I'd probably like us to have few things planned for that before it get started. My question is whether to support the qualifi

[2019-10-02 18:27] boxxxie opened #78 "lose line numbers when using match"
when i get errors in my match dispatches (after a pattern is found) when there are errors in that code i get line numbers in my stack traces pointing to the line of `(match`, not the line where the error occurs.

[2019-10-02 23:01] noprompt commented on #70
[Here](https://github.com/clojure/core.specs.alpha/commit/938c0a9725a284095baa2387dff1a29c3f1e26ac) is the patch to the core specs which can cause this issue. If a user somehow has the specs prior to this version, a `NullPointerException` can be produced in the body of `defsyntax` [here](https://github.com/noprompt/meander/blob/epsilon/src/meander/syntax/epsilon.cljc#L1958) because `fn-name` will

[2019-10-03 03:34] #70 closed, assigned to noprompt

[2019-10-03 03:39] noprompt commented on #78
@boxxxie Thanks for the report. I've run into a little trouble with this myself and, I suspected, it'd only be a matter of time before someone opened an official issue about it.

I haven't given it much thought but, I'm curious, do you have any suggestions? I think there's a trick to this but I can't think of it at the moment.

[2019-10-03 14:06] boxxxie commented on #78
the `match` macro looks like it evaluates more like a function. when i macro expand i get the same code i typed.

[2019-10-13 16:59] marioaquino opened #83 "`with` example (docs) broken in epsilon"
The example from this [link](https://github.com/noprompt/meander/blob/epsilon/doc/pattern-matching.md#with) returns `nil` instead of:
[code]

[2019-10-13 18:24] #83 closed, assigned to nobody

[2019-10-13 18:25] jimmyhmiller commented on #83
`or` should have been updated to be namespaced (`m/or`). I fixed it and verified that it is working. Thanks for filing the issue.

[2019-10-14 14:24] marioaquino commented on #83
Works as advertised.  Thanks, @jimmyhmiller!

[2019-10-14 21:30] thheller opened #84 "CLJS output too large"
I wanted to try `meander` in a CLJS project but the amount of code it adds just makes this impractical. ~430KB after `:advanced` before gzip, without using a single thing, just importing the main namespace. From a quick glance through the codebase it seems that most of the code is actually just related to the macros and not used at runtime. All this code is still in the CLJS portions of the output

[2019-10-14 21:43] noprompt commented on #84
@thheller I am absolutely interested, yes! 😄

[2019-10-14 21:54] thheller commented on #84
Ok, that is good to hear. :)

Judging by how you have organized the code the runtime related code seems already to be isolated in the `*.runtime` namespaces? Those are pretty much the only files that need to be `.cljc`. All the other files could just be `.clj`. The `meander.epsilon` ns should likely be `.clj` and have a corresponding  `.cljs` file that just does

[code]

Since all of the related c

[2019-10-14 21:57] noprompt commented on #84
@thheller I think the problem likely has something to do with parsing code thats meant to be usable from the three platforms (JVM, JS, and Self-Hosted). The parser is designed to be extensible via `defsyntax` which defines code which registers a syntax expander that the parser can resolve. See [here](https://github.com/noprompt/meander/blob/epsilon/src/meander/syntax/epsilon.cljc#L285-L340), [here

[2019-10-14 22:03] thheller commented on #84
From the looks of it those are quasi-macros? Are they called at runtime or in macro-expansion?

The current implemention looks like it wouldn't work with caching at all?

[2019-10-14 22:12] noprompt commented on #84
@thheller The parser is designed to be able to be run outside of macro-expansion but, primarily, the use of it will be at macro-expansion time.

From the looks of this ticket, it seems like no? 😄

I might be off on this one, but if there's a use of parsing at runtime then I'm guessing it'll prevent DCL from happening.

[2019-10-15 04:01] jimmyhmiller commented on #84
@thheller Thanks so much for this report. It was super thorough and helpful.

We can definitely reduce this quite a lot. I was about to get it down to 144KB with some quick and dirty `#?(:clj)`s thrown in.  We will most likely be dropping cljc at some point though and can hopefully get that even smaller still.

If you have any magic number in your head about what size is too big or feels good defi

[2019-10-15 10:10] thheller commented on #84
Don't think there is a magic number to reach. It all depends on your requirements and how much "bytes" you are willing to pay for the convenience you get. Good start though!

One thing you should definitely avoid importing is `cljs.pprint` since it also isn't `:advanced` compatible currently and adds quite a bit on its own.

[2019-10-15 16:15] noprompt commented on #84
We've taken care of that. 😄

[2019-10-17 05:32] noprompt commented on #84
@thheller I just created a new release of the project `meander/epilson 0.0.287` which should address the problem. Using the helpful tips you gave me and the reporting tool I was able to reduce to achieve the following report.

[code]

I'm going to close the issue. If you spot anything else or if I haven't actually solved the problem here, just reopen the ticket.

[2019-10-17 05:32] #84 closed, assigned to nobody

[2019-10-17 09:04] thheller commented on #84
Fantastic!

[2019-10-18 18:17] noprompt commented on #78
@boxxxie Can you share an example with me? The example below seems to be reporting the correct line numbers.

[code]

[2019-10-26 13:02] theronic opened #85 "Unable to resolve spec: :meander.syntax.node.epsilon/partition"
I added `[meander/epsilon "0.0.300"]` to :dependencies.

Attempting to `(require '[meander.epsilon :as m])` throws:

[code]

If I manually evaluate meander.epsilon.clj I see:

[code]

[2019-10-26 17:50] jimmyhmiller commented on #85
@theronic Really sorry that happened to you.

There was a typo in our specs. From what I can tell in your project you have `(clojure.specs.alpha/check-asserts true)`. If spec asserts are turned off, it doesn't throw any error.

I have fixed this in https://github.com/noprompt/meander/commit/fa41ed814807cef38fbdf8e1be1e2036671504bc and turned on asserts during our tests so that it doesn't happen ag

[2019-10-26 19:17] jimmyhmiller commented on #85
Fixed in `[meander/epsilon "0.0.301"]`.

Thanks for reporting this. Let us know if you have any more issues.

[2019-10-26 19:17] #85 closed, assigned to nobody

[2019-10-26 19:32] jimmyhmiller commented on #78
I think I understand what is meant here. When you have an error that doesn't match, we don't tell you what doesn't match and what line it is on. For example:

[code]
Throws this exception

[code]

It would be great if we could instead say something like this:

[code]

Or if we had a pred instead

[code]

We could be even better by showing where in the data structure that is, but that will definite

[2019-10-28 04:36] noprompt commented on #78
@jimmyhmiller Maybe @boxxxie can clear it up as I took

as errors that are thrown on the right side of the match, not errors due to non-exhaustion.

[2019-12-03 19:01] SevereOverfl0w opened #86 "404 in README (Extending Meander)"
Under "Conditional Matches" towards the end.

[2019-12-04 20:30] #86 closed, assigned to nobody

[2019-12-06 18:56] noprompt commented on #78
I'm going to close this due to inactivity.

[2019-12-06 18:56] #78 closed, assigned to nobody

[2019-12-08 19:26] SevereOverfl0w opened #91 "Support patterns following &"
Eg `[& ?xs ?x]` when matched in `[1 2 3]` would bind ?xs to `[1 2]` and ?x to `3`.

[2019-12-19 19:36] noprompt opened #93 "Recursive defsyntax expands infinitely"
Consider

[code]

This syntax extension will be expanded to point of a `StackOverflowError`, however, it should be possible to avoid this. Since `m/with` allows for recursive definitions we should be able to rewrite the body of the syntax extension in terms of `m/with` such that the recursive semantics are preserved and without causing a `StackOverflowError` at compile time.

[2020-01-02 04:24] timothypratley opened #94 "scan syntax with :as clause will never match"
[code]
The problem is pretty obvious... the syntax of scan includes:
[code]
Where clearly the intention in the first branch is to only `~@(take (- patternc 2) patterns)`

[2020-01-02 05:49] #94 closed, assigned to nobody

[2020-01-02 06:19] timothypratley opened #96 "Multiple ignore _ ... patterns produce duplicate matches"
When using many ignore patterns:

[code]
Expected `(3 4 5)` as there are only 3 ways to match the pattern, but got extra redundant answers.

Using named patterns instead of `_` avoids this:

[code]
This behavior affects `separated` syntax

[2020-01-02 06:55] timothypratley commented on #74
I like the operator 👍

As to solving the original problem I suggest

[code]

[2020-01-02 09:07] timothypratley commented on #74
can we use `{!k !v}` to imply we want to collect all the key/values instead?

[2020-01-02 21:01] jimmyhmiller commented on #96
This is really interesting. I will try to dig into this to understand what is going on with the code generation here. Thanks for reporting.

[2020-01-02 22:29] noprompt commented on #96
The bug is probably located under [this line](https://github.com/noprompt/meander/blob/epsilon/src/meander/match/epsilon.cljc#L965) and might have something to with the call to `window` [here](https://github.com/noprompt/meander/blob/epsilon/src/meander/match/epsilon.cljc#L968).

[2020-01-03 02:39] yuhan0 opened #97 "Use of memory vars in map/set literals are subject to Clojure semantics (order not preserved except for small values)"
The interaction between Meander's "left-to-right, top-to-bottom" evaluation strategy and the unordered nature of Clojure's map and set literals could cause the following type of edge case:
[code]
This appears to work fine until more than 8 elements are introduced, causing Clojure to switch from an ordered ArrayMap to unordered HashMap implementation.
[code]

@noprompt and @jimmyhmiller suggested u

[2020-01-03 05:23] noprompt commented on #97
I disagree then semantics are undefined in such cases, however, I would agree they are nondeterministic and hear your concern. It is well known that map literals are read by the reader as either `PeristentArrayMap`s or `PersistentHashMap`s and, with respect to the latter, Clojure makes no promise about key ordering. Due to this property (which sets also possess), Meander does not make any promises

[2020-01-03 07:02] yuhan0 commented on #97
Oh yes, "nondeterministic" is a much better way of putting what I had in mind, thanks for clarifying that :)

That's definitely true, my first thought of a heuristic was something like the following
[code]
The other options also sound good, I admit it's not much of an issue to someone familiar with Clojure's reader, and I only came across it while thinking about the implications of memory var sema

[2020-01-04 06:35] timothypratley commented on #97
Given nothing can be done about the Clojure reader, disallowing memory variables in maps seems reasonable to me.

It seems to me that whenever you encounter an "non-entity map" in meander you are almost always better off treating it as a sequence of key-value pairs. This is achieved with `m/seqable` on the matching pattern and various tricks on the construction side. We would benefit from a symmet

[2020-01-04 06:52] timothypratley commented on #74
I've changed my mind based on recent experiments; I think the current definition of `map-of` is too limiting to be useful. (See https://github.com/noprompt/meander/issues/97#issuecomment-570761565)

Specifically:
* `map-of` does not capture the associations, whereas matching key-value sequences does `([!k !v] ..!n)` !n will contain the partitions which can be used to construct rows and solve the m

[2020-01-04 07:38] #96 closed, assigned to nobody

[2020-01-04 07:41] noprompt commented on #96
I reverted an attempted optimization I made a while back. It was the culprit. I'll have to come back to the work I was attempting to do there at some point. Anyway, this is fixed.

[2020-01-04 08:02] timothypratley commented on #91
This would be very useful for maps where we are forced to use key-value pairs :)

For vectors though, I don't see the advantage as we can already more succinctly express this use case:

[code]

In Clojure only 1 symbol may follow `&`.

[code]
Is an error:
(z) - failed: Extra input at: [:fn-tail :arity-1 :params] spec: :clojure.core.specs.alpha/param-list

I think Meander should follow this convent

[2020-01-04 08:09] noprompt commented on #97
There are plenty of cases where memory variables in map patterns are specifically useful, convenient, and deterministic. Eliminating them because they're unpredictable in certain situations is not a solution.

I believe you're asking if we could make match support that syntax and I think, yes, we could.

Another way to get the symmetry you crave with the `map-of` syntax is by implementing the subs

[2020-01-04 08:25] noprompt commented on #91
There are some instances where this would be useful for substitution, however, I suppose I should probably demand some more examples and argument before I sign on off it on it. 😄

[2020-01-04 08:32] timothypratley commented on #77
I preferred quoting clashing terms than using namespaces!
The minor annoyance when they occur is worth the clean expressive patterns.
`m/` everywhere is just a distraction IMO.
In Clojure namespaces are important for good reasons largely around diverse libraries and data models, but meander patterns do not require them as the operators and semantics are well defined in the same way that Clojure co

[2020-01-04 09:35] timothypratley commented on #74
[code]
Is an error: When matching, map patterns may not contain variables in their keys that would make it so there is more than one match possible.

[2020-01-04 19:17] noprompt commented on #74
@timothypratley Thats expected behavior.

[2020-01-04 19:24] timothypratley opened #101 "Does `&` imply seq?"
## Type details to consider:
[code]
I claim that the current behavior here is "correct" for sequence matching but "incorrect" for vector matching. I think there is value in preserving the notion that `& ?rest` is strictly a sequence and does not take on the type of its container. This is especially important for maps, but also important for vectors because it determines syntax:
`[& (xs! ...)]` vs

[2020-01-04 19:31] timothypratley commented on #91
TLDR I can see the value in this now

`[1 2 & ?rest]` is very similar to `[1 2 . !rest ...]` so let's just focus on the differences:
* The former is indeed shorter and looks more like "Clojure"
* `?rest` has a different meander name "variable" to `!rest` which is a "memory variable"
* It's interesting to think about what type they should be, more on that later!
* `...` has convenience for some sit

[2020-01-04 21:49] noprompt commented on #101
I can see the confusion with `&` not having parity with Clojure being a fair point of contention. But I disagree with your claim that it should result in a seq in every instance because it "is to be analogous to the Clojure concept". Meander's pattern matcher is in no way meant to have overlapping semantics with Clojure destructuring and was born in part by dissatisfaction with it. I think the big

[2020-01-04 23:04] timothypratley commented on #101
Yes, that all makes sense, and is well-founded. In rejecting seq semantics meander treats data correctly, and the differences are clear with examples.

[2020-01-05 00:00] timothypratley commented on #101
Answer: no, & implies the same type of the collection it occurs in.

[2020-01-05 00:00] #101 closed, assigned to nobody

[2020-01-05 00:35] timothypratley commented on #74
Sure! Expected behavior given the definition, but don't you think it limits what it can be used for?

`map-of` seems to have a lot of drawbacks and I'm failing to see the upside... what does it do for me?

It looks like the intention is a convenience to gathering key-value pairs, but I claim that is better served by `(m/and {} (m/seqable ,,,))` which can be used in `match` and can bind the size `.

[2020-01-05 01:14] timothypratley commented on #97
Based on conversations in other topics I just want to regroup on where your thinking is at on this specific subject as there were several proposals which I think at this point can be thinned out.

1. No, `match` cannot ever look like `{& ([!k !v] ...)}` for reasons defined in #101

1.a. Match does however already support `{& {?x ?y}}` and `(m/and {} (m/seqable [!k !v] ...))` and `{& (m/seqable [!k

[2020-01-05 01:29] timothypratley commented on #74
As a `key-value` collector/disperser this works great:

[code]
It is almost symetrical and almost as concise as `map-of`, but additionally it's got all of meanders features available and is nestable:

[code]

I think `map-of` differentiates by being able to find sub-maps where as the above forms match the entire map... is that the killer feature?

[2020-01-05 22:48] timothypratley opened #102 "Idea about convenient for reduction"
Aggregation is a useful concept when manipulating data.
Can `reduce` have a pattern representation?
A pattern can obviously be used to describe the source and the target, but the aggregation part fits in between as a function application.

Consider the most basic Clojure reduction:

[code]

Can this be more visual?

[code]

* the >>> glyph visually/structurally communicates condensing
* condensing

[2020-01-05 23:26] timothypratley commented on #102
## Implementation attempt (failed)

[code]
Trying this revealed a further complication... how can I insert the function application in the innermost spot??

[2020-01-07 00:24] timothypratley commented on #91
Another consideration here is that `&` would effectively provide grouping semantics (a good thing IMO) because you could write things like `[& [1 2 3 :as ?group1] & [4 5 6 :as ?group2]]`
which got me thinking... another way to express this notion is `[1 2 3 ~@(4 5 6 :as ?z) 7 8 9]`

I'm not sure what the implication is here but to my eyes `&` and `~@` have the same meaning.

[2020-01-07 01:38] timothypratley opened #103 "A cookbook!"
add a docs/cookbook.md with small snippets showing how to accomplish tasks with meander.

Goals:
1) Facilitate contributions
- Solicit people to edit in place
2) Make it easier to look up similar solutions

[2020-01-07 02:34] noprompt commented on #102
In my opinion, the best way to do a reduction is with `m/rewrite` and `m/cata` on the right, or with a strategy based reduction.

Here's an example of how I typically do `rewrite` based reductions.

[code]

If you wanted to `(m/app f)` somewhere in there you could do that.

[code]

Here is how you might do a reduction with a strategy.

[code]

I prefer doing reductions in the style above because t

[2020-01-07 02:40] noprompt commented on #103
@timothypratley Feel free to get the ball rolling on this in whatever way you see appropriate. We can revise it as we go along.

[2020-01-07 02:50] noprompt commented on #91
Pretty much but the main difference is that `& <pattern>` in this case applies substitution.

[code]

[2020-01-07 05:17] #103 closed, assigned to timothypratley

[2020-01-07 05:54] timothypratley commented on #102
Applying your approach back to the examples I presented:

[code]

[code]

These things jump out to me:

1. Yes! this works and accurately describes the algorithm for traversal and computation 😄
2. I am dissatisfied with it.
3. This is now code that describes state, inputs, outputs, and recursion. It is a self recursive multi-arity function. Meander has been demoted to the role of a better input de

[2020-01-07 08:59] timothypratley commented on #102
Here is a "working" `defsyntax` with one caveat: as a workaround to finding the "deepest variable" you have to nominate it instead. This adds one extra input, but at least it works!

[code]

Now to use it:
[code]

Success!

[2020-01-07 09:39] timothypratley commented on #102
Now going back the other direction, let's ask well couldn't that just be a regular Clojure macro?

[code]
Obviously Clojure can have a very direct visual representation of `reduce` this way. It misses out on all the built-in operators but I'm starting to wonder if that really matters at all for reduction I find it hard to imagine a scenario where I would care about that.

[2020-01-07 09:41] timothypratley commented on #102
Closing this issue as I'm not able to make a case for this or think of a way it can help meander.

[2020-01-07 09:41] #102 closed, assigned to nobody

[2020-01-07 14:59] d4hines opened #106 "Improve docs for `rewrite`"
Looking at @timothypratley's PR #105, that rewrite is really hard for me to follow, because the arity of `rewrite` isn't immediately obvious. The docstring only expands it into `find` and `subst`, but that leaves room for ambiguity on how each parameter is interpreted. The main [docs](https://github.com/noprompt/meander/blob/epsilon/doc/understanding.md#rewrite) also don't clarify the arity much (

[2020-01-07 15:24] jimmyhmiller commented on #106
I can work on improving the docstring for rewrite. search, find, match, rewrite, and rewrites all have the same arities. They take the data they will operate on as their first argument. Then they take multiple left hand and right hand sides. So it will always be an odd number. So for match it is:

[code]

For rewrite it is the same, but the right hand side are substitution patterns.

[code]

This

[2020-01-07 15:43] timothypratley commented on #106
I think the signature of this macro and it's siblings are all hiding information and should be changed:

consider instead

`(defmacro rewrite [data from-pattern to-pattern & more-from-to-pattern-pairs])`

1. `(m/rewrite 1)` currently is `nil`. This is very surprising (I expected 1 or *fail*). The behavior could be changed to `identity` but I don't consider that meaningful.

2. There is no hint tha

[2020-01-07 15:50] timothypratley commented on #34
this issue was addressed by the clj-doc articles, closing this

[2020-01-07 15:50] #34 closed, assigned to nobody

[2020-01-07 16:17] timothypratley commented on #25
@noprompt  What does "more intelligent check" mean?

It appears to me that equality is the only sensible option, and is a feature... being able to match a literal map instead of a map pattern. So FWIW I don't think this behavior should be changed.

Assuming you do want to preserve this behavior there are several places in the docs where it would be useful to call out how `~` behaves, but if the se

[2020-01-07 17:22] noprompt commented on #106
I used the term `clauses` since thats what `cond` and `case` use. `match` is the only one of the macros that says anything about the number of arguments needing to be odd and the rest of them transitively refer having the same argument structure as `match`. There is also the `fdef` definitions.

I think I would be fine with your suggestion @timothypratley, however, only in the `:arglists` meta dat

[2020-01-07 18:12] noprompt commented on #25
I was thinking we could switch to interpretation where an internal matching function which does not bind for this purpose could be used.

[code]

But its unclear to me whether or not that is a good semantic or not.

[2020-01-08 20:28] timothypratley commented on #25
Another question that comes to mind... is there a way to insert pattern literals into a pattern? I can't think of one besides the macro approach described above. `defsyntax` allows us to insert a predefined pattern, but not one that is an argument. One idea is to offer a wrapping macro:

[code]

FWIW I'm wary of the runtime binding approach.

[2020-01-08 22:48] timothypratley commented on #25
Bah `m/with-context` idea doesn't really help as you'd still be limited to compile-time usage still so not useful. Exposing runtime matching should IMO be an explicit, opt-in thing.
Like `(m/pred #(runtime/matches? % p) ?x)` or a conveinience wrapper `(m/runtime p)`.
Is that possible? I also couldn't find `meander.match.runtime.epsilon/matches?` <-- maybe i'm looking in the wrong ns?

[2020-01-09 23:57] noprompt commented on #25
@timothypratley I was just throwing out an idea. There's no such function at the moment.

[2020-01-10 00:01] timothypratley commented on #25
oh right! :)

[2020-01-18 04:16] #106 closed, assigned to nobody

[2020-02-28 19:56] boxxxie opened #112 "Confusing `m/and` matching"
In the `and` documentation, and from my experience, and checks the first pattern for being matched, and then maybe considers the following patterns. i'm not sure how to use this pattern matcher, i would expect that if i put a bunch of patterns in an `(m/and ...)` that all would have to match to be successful. however, possibly this is the default behavior of pattern matching. i could use some help

[2020-02-28 20:44] jimmyhmiller commented on #112
Hey @boxxxie,

I'm happy to clarify a bit about how and works. So let's start with your example.

[code]
So instead of doing `#(and ...)` you can use `m/and`.

But there are a lot of other reasons you might use `m/and`. The idea behind `m/and` is that you are matching multiple patterns on the same value. For example, maybe I want to save a value in a memory variable but also match with a logic var

[2020-02-28 20:49] boxxxie commented on #112
"With m/and all the patterns have to match."
the documentation does not say this, and in my experience, this is not the behavior.
only the first pattern has to match, and the rest are optional. which is why i'm not able to easily translate m/and to the logical and, becuase whenever i use it it only cares about my first pattern

i'm using the latest version of epsilon.

[2020-02-28 20:52] boxxxie commented on #112
each of your examples uses memory variables, so maybe this is important for m/and m/or. i'm not actually familiar with memory variables because they are not in other pattern matchers i have used.

[2020-02-28 21:15] jimmyhmiller commented on #112
@boxxxie

Here is an example without memory variables that shows what I mean by all patterns have to match.

[code]

Can you give an example where it is only using your first pattern?

[2020-02-28 21:46] boxxxie commented on #112
yeah, i just wrote a tiny interpreter where m/and was failing, i'll rewrite one of the patterns in it to use m/and and post and example, likely tomorrow (just doing a ton of work right now)

[2020-02-29 19:32] boxxxie commented on #112
[code]
ok, i got a simple test case. only the last assert fails, so i may be confused as to how `m/pred` works.

[2020-02-29 23:43] timothypratley opened #113 "Documentation missing for set construction #{^&(1 2 3)}"
Hard to guess if you don't know 😉

[2020-03-01 18:07] #113 closed, assigned to timothypratley

[2020-03-02 01:05] jimmyhmiller commented on #112
Okay after looking through your code I'm guessing that `p` here is `partial`? If so, it seems that `m/and` is working as you expect, correct? As for `m/pred`, pred takes a single predicate and then some patterns. So your second example doesn't work because you are trying to use two predicates. If you want multiple predicates, the first example with and is the way to go, or you can combine predicat

[2020-03-02 19:18] boxxxie commented on #112
ok, my main misunderstanding was with m/pred argument differences between predicates and patterns.

thanks for the later examples, the vector wrapping i did is not important, just similar to the interoperater code the examples are based on.

m/seqable seems a bit under-documented, and in your example (last one), it's not fully clear how a memory variable should be different from a logic variable.

[2020-03-02 21:25] jimmyhmiller commented on #112
You can read a bit more about memory variables here: https://cljdoc.org/d/meander/epsilon/0.0.402/doc/operator-overview#memory-variables

Memory variables remember the values they match and are really useful when combined with repeats. You can see more about practical uses here as well https://jimmyhmiller.github.io/meander-practical.

We definitely could improve documentation on seqable. That is

[2020-03-02 21:25] #112 closed, assigned to nobody

[2020-03-05 07:49] timothypratley opened #115 "Recursive map patterns skip every second level"
recursive maps...

[code]

[2020-03-05 14:34] timothypratley commented on #115
also related, this syntax would be SICK! :)
[code]

[2020-03-05 15:00] jimmyhmiller commented on #115
@timothypratley If you think a little bit more about your seqable there, you might realize that it is the seqable that is actually "skipping" things. You can do this and get the results you are looking for.

[code]

[2020-03-05 15:23] jimmyhmiller commented on #115
To be less opaque. Take a look at what is being captured.

[code]

We are trying to look up `:m` in `{3 4}` and getting nil. The seqable is making it so you aren't going over the maps you'd like.

[2020-03-05 15:41] timothypratley opened #116 "Syntax proposal: `m/rec` shorthand for `m/with` single case"
[code]

A more concise way to express
[code]

[2020-03-05 15:44] timothypratley commented on #115
oh yeah sorry I got my examples mixed up, thanks for pointing out where I went wrong! Much appreciated.

[2020-03-05 15:44] #115 closed, assigned to nobody

[2020-03-06 03:54] noprompt commented on #116
I think this is a cool idea but I want to give it a little thought. I think we could experiment with this on `zeta` and use the `@` sigil for this instead of `%` (since the latter already has a definition and former does not). It could also work on `epsilon` too as `meander.epsilon/@name` i.e. `m/@r` (using `clojure.core/deref` is not an option as it is a breaking change to `epsilon`).

[code]

If

[2020-03-06 04:09] timothypratley commented on #116
Ah, FWIW I'm highly suspicious of `@` 😄
When you say `%` has a meaning, do you mean it's meaning within the `m/with` context? Does it have a meaning outside of that context?

Just brainstorming alternatives here:
`%%r` does double percent help?
`{:as (m/pattern ?p) :x ?p}`

Maybe we don't even need a special name?

`{:as ?p, :x ?p}` seems logical to me, but the compiler might not think so hahahaha

[2020-03-06 04:51] noprompt commented on #116
Yes. `m/with` is more or less the equivalent of `let` with `%name` symbols instead of unsigiled symbols i.e. `x`. The reason for sigils, in general, is to make it easy, at a glance, to understand the _precise_ role of a given symbol. Several languages do this. Clojure has `'`, `:`, `#"`, etc. Ruby has `@`, `@@`, `$`, etc.

Yeah, that's an unbound reference error. 😄

`??` has also come up but I don

[2020-03-06 05:38] noprompt commented on #116
@timothypratley If you're looking to cut down a bit you could do something like this in the meantime:

[code]

[2020-03-06 17:39] timothypratley commented on #116
Oh - that is really nice! I think that is better than adding a new sigil.

Well, you originally wanted to use it to match `derefable` things, so using it to "name a pattern" seems to conflict with that goal. `@` has some baggage from Clojure and potential use cases for Meander in the future, and it just doesn't feel representative of "name a pattern".
I think it's a fine sigil, just better suited

[2020-03-10 23:02] timothypratley commented on #116
`*p` is taken for mutable variable.

[2020-03-11 05:45] noprompt commented on #74
There's a pull request open for `map-of` and `submap-of`.

For grouping, we have a solution on `zeta` which is called `fold` which is an operator that takes a mutable variable, an initial value, and a reducing function:

[code]

Here is an example of how it works:

[code]

Of course, this can be used to do grouping as well since grouping is a reduction.

It may be possible to bring `fold` to `epsi

[2020-03-11 08:41] yuhan0 commented on #116
I don't think it's a good idea to introduce new syntax for such a narrow use-case, especially when it's simply sugar for a more explicit form.

Besides, this forces one to put the base case `nil` inside the recursive map pattern itself
[code]
instead of the more sensible
[code]

For instance if `%r` has 3 different cases this proposed syntax is not easily generalizable:
[code]

[2020-03-11 13:14] timothypratley commented on #116
@yuhan0 @noprompt I agree that the original proposal has some limitations which make it less useful to `rec` but I do think `rec` is useful and doesn't steal a sigil... so can you clarify if you agree on that? Also I wonder if `rec` should contain an implied `m/or`

[2020-03-11 18:07] yuhan0 commented on #116
I don't know, it's useful but feels like the sort of thing which the user should define for themselves with `defsyntax` rather than belonging in Meander core.
Currently there's already a little overlap between the use cases of `with` and `cata`, introducing another named operator in the same space seems a little cluttered and approaching the "map fatigue" territory of having multiple ways to expre

[2020-03-11 18:11] yuhan0 commented on #116
That's of course just my personal opinion as a user of the library - with DSLs there's always a tradeoff between a small/restrained vs large/expressive vocabulary. I really like the way Meander is designed so far with a relatively small set of "primitives" and powerful ability to extend them via defsyntax, eg. I've been using my own `map-of` operator for months now without needing it to be officia

[2020-03-11 18:48] noprompt commented on #116
This is all fantastic discussion. I'm on the fence about adding it to core proper. What convinced me to proceed with adding `map-of` and `submap-of` was that it came up in a number of discussions and recently a friend of mine tried to express something like

[code]

as

[code]

Of course, once you're skilled with the library, its easy to know how to write this down the latter with `m/with`, howeve

[2020-03-13 22:58] SevereOverfl0w commented on #116
I would probably match on 'clojure.core/deref for what I'm doing anyway :thinking:.  I think this is probably fine. As long as there's never any confusion about when I'm actually derefing.

[2020-03-16 23:29] timothypratley commented on #116
If Meander had a slick way to express recursion, it would open up a whole new class of expressions that could be written directly as patterns.

Meander already has `m/with` and `m/cata`, so the first question is "are they slick?"

Yes, I can express recursion with them. Here are 3 approaches to solving the same problem, one with `m/with`, one with `m/cata` and one with plain old recursion.

[code]

[2020-03-22 00:47] timothypratley opened #121 "`m/spy` for debugging"
I've found it useful to use `(m/app #(doto % prn) ?x)` in both pattern and substitution for debugging meander expressions. I think a `m/spy` feature would be helpful to new users who might not realize this is possible.

[2020-04-27 10:48] boxxxie opened #122 "pattern matching syntax for (m/some) in maps"
one of my more common use cases for meander is something like spec/asserts for config loading.

[code]
it would be nice if i didn't have to wrap all my symbol captures in `(m/some ...)` because that pollutes the pattern shape. and i rather not have to write a macro to convert a meander thing into a spec of some sort.

syntax proposal:
[code]

i don't really care how the syntax looks, but it seems

[2020-04-29 04:34] noprompt commented on #122
@boxxxie This is something I've also encountered and thought about a bit and, to be honest, am still thinking about. It really goes back to my original decision to put the constraint on map keys, rather than on the values, because "optional" stuff is all the rage in Clojure, and you can't tell the different between `(get {} :k)` and `(get {:k nil} :k)` without using `find` or `contains?` to check

[2020-04-29 11:36] boxxxie commented on #122
looks cool, i'm guessing that i can do this with clojure.walk, to make something more general?
i haven't used the syntax part of meander yet

[2020-04-29 17:44] noprompt commented on #122
@boxxxie I probably wouldn't use `clojure.walk` for something like `strict-map` because the definition is already sufficient (though I now realize it needs to be modified it to handle `:as`). As soon as you use anything other other than a variable, `nil`, or a combination of patterns that represent some non-variable, non-nil value you don't need to wrap that thing in `m/some` any more because it's

[2020-04-29 17:47] boxxxie commented on #122
i didn't know about the ` & {}` syntax

[2020-04-29 21:25] noprompt commented on #122
@boxxxie Have a look [here](https://github.com/noprompt/meander/blob/epsilon/doc/operator-overview.md#rest) for more details.

[2020-07-19 21:14] ribelo opened #127 "m/find reggression?"
[code]

```meander/epsilon      {:mvn/version "0.0.469"}```

[code]
```meander/epsilon      {:mvn/version "0.0.421"}```

[code]

[2020-07-25 08:30] noprompt commented on #127
@ribelo This has been fixed and a new release is available.

[2020-07-25 08:30] #127 closed, assigned to noprompt

[2020-08-22 18:42] timothypratley opened #129 "Correspondence variables"
**Problem**

The current options for matching or substituting the same thing twice are insufficient.

**Minimal Example**

Consider a vector of numbers that should consist of pairs of matched numbers:

[code]

This is an incorrect solution because memory variables have no correspondence. They naively collect and disperse directly to matches with no observance of their corresponding scope marked by

[2020-08-22 19:34] timothypratley opened #130 "Preserve visual structure when matching unspecified keys in maps and sets"
**Problem**

Maps and sets with unspecified keys are at a syntactic disadvantage.

**Example**

The current tools for working with unspecified keys are:

[code]

[code]

Both visually obscure the structure.

Observe that vectors do not suffer this problem: `[!k ...]`

Maps and sets are disadvantaged because unspecified keys must only appear in the `&` clause. This restriction makes sense because k

[2020-08-25 15:46] timothypratley commented on #130
@yuhan0 pointed out (in Slack channel) that `{?a 1}` is useful, so really only `!a` expressions could imply unspecified keys. The tradeoff then is the subtlety of different behavior based on the variable type vs the visual  syntax

[2020-08-25 19:59] timothypratley commented on #130
Based on Slack discussion, an existing option for picky users like me is:

[code]
^^ use a macro to replace `{!k !v}` with `(map-of !k !v)`

This was offered with big warning signs that I don't fully understand yet :)

[2020-08-26 00:22] timothypratley commented on #129
Here is an example of how "correspondence" and "syntax disadvantage" conspire together...
Given a match and substitution pattern for a rewrite:

[code]

Can you guess what I want to happen here? I just want to conditionally update the `:resolve` of an inner map. If it exists, leave it there, if not replace it with a name that depends on the outer key and the inner key. Pretty obvious? But this is

[2020-08-26 04:37] timothypratley commented on #130
Another idea floated in Slack:
This would be a nice way to be explicit about the behavior without losing the structure:
`{^… !k !v}` and `#{^... !k}` (i.e. using the metadata style of sets for `#{^& ?more}`

[2020-08-26 13:27] timothypratley commented on #130
I like this suggestion from @yuhan0 :

"There is already precedence in ..?n for splitting a symbol up into components to bind ?n"

[code]

My favourite is `{&!k !v}` because it preserves the structure (I can copy-paste example data and replace with variables) and `&!k` is exactly what I want to do, bind the rest of the kvs as memory variables.

[2020-08-29 01:51] timothypratley opened #133 "StackOverflow while compiling meander expression"
[meanderbug.zip](https://github.com/noprompt/meander/files/5144666/meanderbug.zip)

Attached is a project, if you run `lein check` it fails to compile with a StackOverflow while expanding the meander macro.
If you send it to the REPL, it compiles just fine... weird!!!

=== UPDATE ===

You can work around this issue by increasing the JVM stack size, which is quite small by default.

Add `:jvm-opts

[2020-08-29 13:58] timothypratley commented on #133
There doesn't appear to be anything special about the form that fails to compile:
[code]
I've tried cutting out parts of the form and one weird thing is that if I remove *either* sub-expressions, it compiles! This seems odd to me because it is not a particularly deeply nested structure.

[2020-09-01 13:31] timothypratley commented on #133
@noprompt any debugging suggestions? I'd like to try to narrow this issue down but not sure where to start.

[2020-09-02 15:36] noprompt commented on #133
@timothypratley Not sure. Here's what I see:

[code]

---

Recently, someone at work encountered a similar situation to the one you're in ~~and IIRC it seemed possibly related to `clojure.tools.namespace`. Does your `profile.clj` have dependencies in it? If so, try seeing if any of them may be interfering~~.

[2020-09-02 16:30] timothypratley commented on #133
I tried removing my ~/.lein/profile and still see the behavior.
I see the same output you posted, but additionally:
[code]
and stack trace attached:

[clojure-2077442374618026138.txt](https://github.com/noprompt/meander/files/5163579/clojure-2077442374618026138.txt)

[2020-09-02 16:41] timothypratley commented on #133
@noprompt FYI I've been able to narrow this down a bit!
Adding  `:jvm-opts ["-Xss512k"]` should produce the stack overflow for you, can you confirm?
And `:jvm-opts ["-Xss1m"]` should be fine for `lein check`
I think this means that due to environments our default stack sizes are different... and as a work around I can certainly just set a bigger stack size... but I think it also will be something

[2020-09-02 16:55] timothypratley commented on #133
Just for reference here's the same pattern with all the symbols replaced with a `1` that exhibits the behavior with the stack size:
[code]
The example in the zip is distracting because of all the symbols (sorry about that), so this version makes it clear it's just a nested structure with some logic variables.

[2020-09-02 20:54] noprompt commented on #133
I was able to reproduce the error with `:jvm-opts ["-Xss512k"]`

I agree and, actually, bumping up the stack size ended up being the prescription for the person I mentioned earlier.

I'm certain it could be.

Pending a thorough investigation, perhaps we should update the README, etc.

[2020-09-02 21:52] timothypratley commented on #133
👍 I'll submit a PR

[2020-09-23 04:05] lucywang000 opened #135 "Slower than hand-crafted code"
Hey, thanks for creating meander! I am planning to use meander in a recent project to replace hand crafted map/filter code, which I think would be make the code much better to read and reason about.

However when I'm doing some simple perf testing, it seems hand-crafted code could beat meander by 5-10x.

[code]

Any idea why such a huge difference? My understanding is that meander need to compile

[2020-09-24 09:02] noprompt commented on #135
Hi @lucywang000, thanks for your detailed report. I was able to figure out the bottleneck and come up with a solution, see the pull request GH-136. Here is the `time` difference between what is currently on `epsilon` and what is on the `gh-135` branch.

[code]

Both solutions find

[code]

and, as you can see, the new solution does so far more quickly. At the moment I don't have the opportunity to

[2020-09-24 09:40] lucywang000 commented on #135
Thanks @noprompt ! It's really awesome to see this performance boost.

Bravo!

[2020-09-24 10:04] lucywang000 opened #137 "Can't find an elegant way to enrich a list with another by joining"
This is a simplified version of a real world problem I try to solve. Say I have a list of persons and a list of bonuses:

[code]

And I want to join them so I can enrich each person record with this person's bonus (if any), i.e., this is what I want to get:

[code]

A simple search works, but it yields a flattened list:
[code]

So I have to add an extra step to get what I want:
[code]

I tried to

[2020-09-24 10:56] lucywang000 commented on #137
Okay, find an easy solution:

[code]

Closing this.

[2020-09-24 11:14] lucywang000 commented on #137
Still a problem: this is a full join, but here I need a left join - otherwise the record for "jen" is lost

[code]

Looks like I have to collect this person->bonus map first (which is really handy with meander) and then do some post-processing:

[code]

Or a slightly better version using specter:
[code]

Does meander supports this type of left join directly?

[2020-09-24 16:35] noprompt commented on #135
@lucywang000 Not a problem. I'm going to close this ticket for now.

I think a good follow up to this would be to allow for a sort of "unsafe" notation which tells the compiler to skip a type check at runtime.

[2020-09-24 16:35] #135 closed, assigned to nobody

[2020-09-24 19:42] jimmyhmiller commented on #137
So I've thought of a few different ways to approach this. First we can simulate the join you are looking for using `or`.

[code]

Basically, we handle the case where there is a join match and handle one where this is not, defaulting the amount to nil when we didn't find one.

We could also transform the `:bonus` into a map first and look things up.

[code]

Or you could have some index-by function

[2020-09-25 00:38] lucywang000 commented on #137
Thanks @jimmyhmiller for the exhaustive answers!

I like a slightly modified version of using `m/or` with`m/let`.
[code]

Because it doesn't need to write the almost-identical LHS/RHS twice like your example. Also we don't need to construct an intermediate map like other versions without `m/or`.

Going one step further, this could be simplified with a custom `maybe-scan` syntax:

[code]

Then maki

[2020-09-25 08:00] #137 closed, assigned to nobody

[2020-09-25 08:08] lucywang000 opened #139 "Is there a simpler way to express complex relationships between two logic variables?"
Given a sequence `[[1 2] [1 3] [2 3]]`, say I want to find all pairs `[?x ?y]` such that  `y = x + 1`

I can think of using let to do this, but it's a bit verbose:

[code]

Or using a custom syntax:

[code]

I can improve the `expr` syntax so it could support `(expr (+ 1 ?x) :as ?y)`. But I find this is a very common case and shall have some built-in support. `m/let` works but it's kinda too verbo

[2020-09-25 08:16] lucywang000 commented on #139
Here is the improved version of `expr`:

[code]

[2020-09-25 16:29] jimmyhmiller commented on #139
So one way to accomplish this that is a bit different from what you are doing is with app.

[code]

What we are saying here, is if we applied dec to this value would it match on `?x`.

If we just switch around the app, we got something fairly close to what you are doing. For example:

[code]

[2020-09-26 00:49] lucywang000 commented on #139
@jimmyhmiller ~~I tried to write that way, too, but decided that's far from ideal. IMHO, this kind of "describing the other way around" could lose a big part of the declarative power we want in meander.~~

~~In my original example, it's simple to rewrite the constraint `y = x + 1` as `x = y - 1`, which is easy to code and at the same time not losing much readability, but what if a constraint like

[2020-09-29 06:34] #139 closed, assigned to nobody

[2020-09-29 06:42] lucywang000 opened #141 "StackOverflowError when nesting the maybe pattern"
Say we have a list of maps, where there is an optional `:b` key, and inside `:b` there is an optional `:b2` key.
[code]
But this kind of nesting throwed a `StackOverflowError`.

btw: I wanted to ask in slack, but I think maybe github is a better place in case others would search for similar questions here.

[2020-09-29 18:55] timothypratley commented on #141
could you please try the solution to #133 -- setting a larger stack size in JVM options (add :jvm-opts ["-Xss2m"] to your project.clj)

[2020-09-29 19:06] jimmyhmiller commented on #141
Ignore this comment. Left a comment below. I thought there was a cata here when there was not. The `m/some`s I have here will still probably give you the results you really expected.

@timothypratley Not the problem in this case.

I can explain a bit more later, but here is the fix for this particular example

[code]

Basically, search goes down both paths if the pattern matches. So you need to gu

[2020-09-29 19:34] jimmyhmiller commented on #141
Actually, not sure why this would stackoverflow. Assumed there was a cata in here when there was not. But the solution above does work :)

[2020-09-29 19:37] jimmyhmiller commented on #141
Sorry, I shouldn't comment when busy. This doesn't stackoverflow for me. So maybe it is related to Tim's issue? How are you running this code?

[2020-09-29 20:30] jimmyhmiller commented on #141
I am able to recreate the issue now. While we have a work around, this is something we need to fix and I will start trying to look into the issue.

[2020-09-29 22:17] noprompt commented on #141
PR GH-141 is open for this ticket.

[2020-09-30 06:05] #141 closed, assigned to nobody

[2020-10-03 15:05] lucywang000 opened #145 "Syntax Extensions must be qualified when using in another ns"
I was debugging some code that involves custom defsyntax, just to find that the culprit is, if I have a custom syntax `foo-syntax` defined in ns `foo`, and want to use it in `bar`, I have to always use `foo/foo-syntax` (or `foo-alias/foo-syntax` if I'm aliasing the `foo` ns name), even if I have `:require [foo :refer [foo-syntax]]` in bar's ns declaration.

Is this expected behavior? If so we shal

[2020-10-03 16:47] noprompt commented on #145
@lucywang000 The symbol resolution for syntax extensions relies on `meander.util.epsilon/expand-symbol`. I think the [Clojure resolution](https://github.com/noprompt/meander/blob/epsilon/src/meander/util/epsilon.cljc#L576-L581) could probably be changed to use `clojure.core/resolve` and then get the symbol from the var if it exists, otherwise leave the symbol untouched. I'm a little busy at the mo

[2020-10-05 02:31] lucywang000 commented on #145
That sounds brilliant! what about the cljs side? Is there a way to check whether a symbol has an alias in the current ns?

[2020-10-06 00:07] noprompt commented on #145
@lucywang000 I've patched this and will now make a release. See #146 for the code details.

[2020-10-06 00:07] #145 closed, assigned to nobody

[2020-10-10 16:03] zhaoyul opened #147 "Can not use var in m/find m/scan?"
### The following works great.

(m/find [{:name "Alice" :id 1} {:name "Bob" :id 2} {:name "Bob" :id 3}]
  (m/scan {:name "Bob" :as ?Bob })
  ?Bob)
;; => {:name "Bob", :id 2}

### But, after I define a variable bob, and pass it to the m/find expression, it evals to nil?

(def bob "Bob")

(m/find [{:name "Alice" :id 1} {:name "Bob" :id 2} {:name "Bob" :id 3}]
  (m/scan {:name bob :as ?Bob })
  ?Bob)

[2020-10-11 01:42] #147 closed, assigned to nobody

[2020-11-18 06:59] noprompt opened #151 "$ with context doesn't work for records"
From Slack

[code]

Output should be `#T{:v :b}`.

[2020-11-18 07:05] #151 closed, assigned to nobody

[2020-11-18 21:33] noprompt opened #153 "Epsilon is not compatible with Babashka"
- [x] Unable to resolve classname: clojure.lang.ILookup [at /private/tmp/meander/src/meander/substitute/syntax/epsilon.cljc:1441:24]

- [x] user=> (require '[meander.epsilon] :reload)
Could not resolve symbol: S__23485 [at /private/tmp/meander/src/meander/epsilon.clj]

Probably related to one of the `(let [save-id (gensym* "S__")]` constructs.

[2020-11-19 09:48] borkdude commented on #153
It's pretty interesting how far we've come, but I'm not sure if meander in its current form is a good fit for babashka.

E.g.

- The avoidance of predicates really works against performance in babashka: the clojure core predicates are pre-compiled with GraalVM in babashka, but the instance checks meander is doing are going through the interpreter.

- Meander is trying to do a lot of optimizations

[2020-11-19 17:09] noprompt commented on #153
It's not clear to me what you're referencing here. Can you provide some more detail?

This is true, however, we can avoid that by providing and suggesting the utilization of an interpreter namespace which works basically as matchete does. At the moment I'm fast tracking this by ripping out the use of the macro match.

[2020-11-19 17:14] borkdude commented on #153
That would be interesting!

The part about the predicates: e.g. doing `#(instance? clojure.lang.Seqable %)` instead of `seqable?`.  We discussed that perf optimisation yesterday on Slack.

[2020-11-19 17:19] borkdude commented on #153
I now measured some differences and in babashka it's basically equally fast, so you can disregard that comment or at least take this as information that this won't help much in babashka, probably.

So the main issue is keeping the amount of code to load for meander as small as possible to get the best startup time possible.

[2020-11-19 17:39] noprompt commented on #153
I'm in!

[2020-11-26 04:23] dgr opened #157 "Link to Meander documentation is broken"
The `README.md` file Documentation section links to `https://cljdoc.org/d/meander/epsilon/` which display an error: `API & Git import failed in build #37351`.

[2020-11-30 07:05] noprompt commented on #157
According to the build failure the problem is

[code]

which is a quick fix.

[2020-11-30 07:08] noprompt commented on #157
I've fixed the broken `:require` clause and will make a new release sometime tomorrow.

[2020-11-30 16:26] noprompt opened #158 "Use of containment pattern produces invalid match results"
[code]

should return `["a" :b]`.

[2020-11-30 16:42] #158 closed, assigned to nobody

[2020-11-30 17:48] noprompt commented on #157
The docs for the most recent build are [here](https://cljdoc.org/d/meander/epsilon/0.0.543/doc/readme).

[2020-11-30 17:48] #157 closed, assigned to nobody

[2020-12-16 01:09] dgr opened #160 "`search` returns `nil` rather than `()` for no match"
In Epsilon, if you invoke `search` and no results are returned, it returns `nil`. Given that `search` generally returns a value that conforms to `sequential?` in all other cases (either a `clojure.lang.PersistentList` or a `clojure.lang.LazySeq`, depending on the exact macro expansion) and `nil` does not conform to `sequential?`, this suggests that `()` would be preferable. In particular, `nil` is

[2021-01-11 18:28] ribelo opened #164 "Interpreter return IllegalArgumentException rather than nil."
If the argument of the function returned by the interpreter is vector, it throws an exception if the query is unsolved.

[code]

[2021-01-12 21:15] jimmyhmiller commented on #164
The second argument to mi/finder is supposed to be a function that will be passed the bindings (in this case it is the string "a"). The interpreter is trying to call that string as if it is a function.

 If you wanted to use a pattern on the rhs try mi/rewriter instead.

(We might want to consider catching this instead of throwing the error deep down like this)

[2021-01-15 19:08] noprompt commented on #164
Should we throw in some `assert`s for the arguments?

[2021-01-18 19:28] psagers opened #165 "Unquoting fails inside guardrails in ClojureScript"
The following fails to compile to the intended JavaScript:

[code]

For some reason, Guardrails turns `~x` into `(unquote x)` rather than `(clojure.core/unquote x)`. Interestingly, even putting the fully qualified `(clojure.core/unquote x)` directly into the function definition doesn't resolve the issue. I'm not sure exactly what's going on in Guardrails, although the simple fix in Meander is to h

[2021-01-18 20:59] jimmyhmiller commented on #165
@psagers I'm not able to recreate this. I tried both in clojure and in clojurescript. Can you run the following and tell me what you get?

[code]

I get
[code]

which is the expected output. Do you get something different?

[2021-01-18 21:51] psagers commented on #165
Guardrails actually needs to be activated explicitly. I've set up a repro case at https://github.com/psagers/meander-165.

Thanks

[2021-01-18 21:56] jimmyhmiller commented on #165
Thanks I will look into it a bit later and see if I can understand what is going on.

To be honest, this sounds like a guard rails bug, not a meander one. Maybe I will find out differently. But we wouldn't want to change meander to just work on unqualified unquote. It is very intentional to have this only work on clojure.core/unquote. Otherwise we could be giving up on hygiene.

[2021-01-18 22:17] psagers commented on #165
That's fair, and it certainly wasn't obvious where to mention this first.

That said, guardrails (essentially a fork of ghostwheel) is essentially just wrapping a function in some instrumentation and passing the body through as-is. Perhaps there's some subtlety that they've overlooked. And if that's the case, it would suggest that there are likely other `defn`-replacement macros out there—public a

[2021-01-19 16:38] dgr opened #166 "Meander doesn't match map with class value"
The following doesn't match:
[code]

It should return `true`. It seems like the issue is the use of a class name in the value position of a map.

This is with Meander Epsilon 0.0.588.

[2021-01-19 18:11] dgr commented on #166
But this works:
[code]

[2021-01-19 18:21] jimmyhmiller commented on #166
@dgr Thanks for reporting this. I'm not sure about a fix for this at the moment. But I can explain why. We compile down to case statements and clojure's case doesn't work with classes.

[code]

[2021-01-19 21:24] dgr commented on #166
Ah, gotcha. I'm guessing this is because Clojure requires `case` values to be compile-time literals and classes aren't (because of the way that class loading happens?), so `case` can't create the fast dispatch table that it wants to use. I ran into this trying to use Meander to implement a TRS on top of the AST produced by [commonmark-java](https://github.com/commonmark/commonmark-java), after swi

[2021-01-19 22:48] jimmyhmiller commented on #165
So I can at least confirm this is guardrails causing this issue. This unquote stuff happens even if meander is not in the mix. Also, that guard rails, when enabled, is not passing the body through as is. When it is disabled, it is in fact passing the body through as is, which is why this works without an issue then.

This also only appears to be in issue in clojurescript with guardrails. I haven't

[2021-01-19 23:12] psagers commented on #165
I guess I didn't check, but I just assumed that guardrails was exhibiting this quoting behavior no matter what. It would be interesting to know more about that, although it may be academic.

As far as meander goes, the question I would be most interested in is whether the documented use of the `~` reader form actually has guaranteed behavior. Not having done all the research, I wouldn't be able to

[2021-01-21 22:36] noprompt commented on #166
@dgr
[code]

[2021-01-22 00:30] dgr commented on #166
Interesting. Can you explain why? I believe you, but I don't understand the reason behind it.

[2021-01-22 00:54] jimmyhmiller commented on #166
I should have realized that. Meander was interpreting that as the literal symbol instead of the value and so we compiled to something that matched the literal symbol.

[2021-01-22 01:00] noprompt commented on #166
Yeah. @dgr Apart from special symbols such as `.`, `...`, `?x`, `!x`, `&`, and those at the front of a list that are syntax extensions i.e. `meander.epsilon/scan`, all symbols are treated literally.

[2021-01-22 04:20] jimmyhmiller commented on #165
@psagers Luckily this has nothing to do with the reader macros.

Here is the macro definition for guardrails `>defn`.

https://github.com/fulcrologic/guardrails/blob/9b166925103a6c615479db06681b4bf3ece1dc27/src/main/com/fulcrologic/guardrails/core.cljc#L710-L731

You can see on line 720 that if it is cljs it calls `clj->cljs`. That can be found here.

https://github.com/fulcrologic/guardrails/blob

[2021-01-22 15:46] dgr commented on #166
Ah, gotcha, so because `m/find` is a macro, it's comparing the class object bound to `java.lang.Long` in the input to the un-evaluated symbol `java.lang.Long` and saying those aren't equal, which they definitely aren't. So, by unquoting, it gets evaluated during (`m/find` ?) macro expansion time (or after `m/find`, as macro expansion continues recursively?). Do I have that right? I'm trying to wra

[2021-01-22 15:46] #166 closed, assigned to nobody

[2021-01-22 16:09] psagers commented on #165
Fascinating. I was definitely on the wrong scent there. Sorry to drag you into this.

If this was inherited from ghostwheel, that might explain why its origin is obscure. Now it seems like the real mystery is how something so fundamental could have gone undetected so long.

Thanks

[2021-01-22 16:09] #165 closed, assigned to nobody

[2021-02-04 15:56] csharon commented on #129
Another example which might be related to that issue:
[code]

[2021-02-24 21:02] noprompt opened #170 "Bad behavior with or, unquote, and nested map patterns"
[code]

[2021-02-24 23:12] #170 closed, assigned to nobody

[2021-04-06 08:09] ribelo opened #175 "`stackoverflow` with nested `m/map-of`"
this works

[code]
this not

[code]
code to reproduce

http://ix.io/2URI

stacktrace

http://ix.io/2URJ

[2021-05-04 15:30] noprompt opened #176 "With consolidation breaks code generation"
This example from Slack

[code]

is resolved when with consolidation has been disabled.

[2021-05-04 16:18] #176 closed, assigned to nobody

[2021-07-01 18:55] noprompt commented on #164
Closing pending a patch or plan of action.

[2021-07-01 18:55] #164 closed, assigned to nobody

[2021-07-01 18:58] noprompt commented on #160
I apologize for the lack of response here. This was discussed in the Slack channel and I should have transferred the releveant bits here.

Unfortunately, for epsilon, there is little I can do to resolve this issue as changing the return type in this situation would technically be a breaking change. This is lame, I know, and I wish I had noticed this earlier. 😞

[2021-07-01 18:58] #160 closed, assigned to nobody

[2021-07-01 18:58] #129 closed, assigned to nobody

[2021-07-01 18:59] #130 closed, assigned to nobody

[2021-07-01 19:00] #122 closed, assigned to nobody

[2021-07-01 19:00] noprompt commented on #122
Closing pending a plan of action.

[2021-07-01 19:02] #97 closed, assigned to nobody

[2021-07-01 19:08] #116 closed, assigned to nobody

[2021-07-01 19:09] #25 closed, assigned to nobody

[2021-07-01 19:10] #65 closed, assigned to nobody

[2021-07-01 19:11] noprompt commented on #91
This will be available in the next release of the library after #180 is merged. 😄

Sorry it took me so long to get around to that.

[2021-07-01 19:11] #91 closed, assigned to noprompt

[2021-07-01 19:25] #68 closed, assigned to nobody

[2021-07-01 19:25] #55 closed, assigned to nobody

[2021-07-01 19:32] noprompt commented on #62
Dusting this off. Specs have since been placed in their own namespace. To close this issue

- [ ]  `##Inf` needs to be replaced. A macro, call it `(Inf)`, could do this and properly target JVM/JS.
- [ ] Missing functions need to be installed, probably in the runtime namespaces.

I'm leaving this ticket open for anyone in the community who would like to take it.

[2021-07-01 19:32] #77 closed, assigned to nobody

[2021-07-01 19:36] #74 closed, assigned to nobody

[2021-07-01 19:37] #121 closed, assigned to nobody

[2021-07-07 00:16] noprompt opened #191 "Do not compile unnecessary dissoc expressions"
This expression
[code]
generates the following code.
[code]

Note the unnecessary `(dissoc T_26393 :a)`.

[2021-07-07 00:40] #191 closed, assigned to noprompt

[2021-07-21 16:09] noprompt opened #194 "Bad expansion"
The following bug was reported in Slack and appears to be new in epsilon 626.

[code]

Below is the macroexpansion.

[code]

[2021-07-29 07:31] ribelo opened #195 "Inability to use `&` on rhs"
[code]

[2021-08-11 17:38] #194 closed, assigned to nobody

[2021-08-11 20:39] markaddleman opened #198 "m/not fails to compile under 626"
[code]

[2021-08-11 22:29] noprompt commented on #198
@markaddleman This appears to be compiling and [passing](https://github.com/noprompt/meander/runs/3306017801) a [test](https://github.com/noprompt/meander/blob/epsilon/test/meander/epsilon_test.cljc#L2740) created for it.

[2021-08-11 22:31] noprompt commented on #195
@ribelo This seems to be compiling and [passing](https://github.com/noprompt/meander/runs/3306017801) a [test](https://github.com/noprompt/meander/blob/epsilon/test/meander/epsilon_test.cljc#L2733) created it for it.

[2021-08-13 00:13] markaddleman opened #199 "& form doesn't compile under latest commit"
The following compiled under 602 but does not compile under the latest commit:
[code]

[2021-08-13 16:17] noprompt commented on #199
The value of the key `?agg` is getting parsed as an `:amp` node which is intended to be internal to the parser. It doesn't implement many of the multi-methods and when it encountered downstream this becomes a problem.

[code]

[2021-08-13 17:13] #199 closed, assigned to nobody

[2021-08-13 17:14] #198 closed, assigned to nobody

[2021-08-13 17:14] #195 closed, assigned to nobody

[2021-08-29 08:16] SevereOverfl0w opened #201 "Reflection warning in util/epsilon.cljc, field val"
[code]

[2021-08-31 16:20] noprompt commented on #201
@vemv Are you able to figure this one out? This is connected to the (awesome) work you did a while back. I'm not quite sure what to do.

[2021-08-31 16:23] vemv commented on #201
Will check it out, appreciate the repro as well 👍

[2021-08-31 16:30] vemv commented on #201
So I believe this is not a realistic reflection warning to experience. If you're using `val-of-js-value` then `cljs.tagged_literals.JSValue` should be in the classpath.

The reason why `Reflection warning, meander/util/epsilon.cljc:758:24 - reference to field val can't be resolved` is printed is because https://github.com/noprompt/meander/blob/501c7d1d1079cb275f11d0476bab6c31c9b37dc9/src/meander/u

[2021-08-31 16:52] noprompt commented on #201
@vemv Thanks for the prompt reply and advice! I'm in favor of removing the check. 👍

[2021-09-11 21:07] noprompt commented on #201
This has been patched and will go out with the next version of the library!

[2021-09-11 21:07] #201 closed, assigned to nobody

[2022-02-01 17:47] rgkirch opened #227 "Support structmap?"
https://clojure.org/reference/data_structures#StructMaps
"you cannot dissociate a struct map from one of its base keys"

[code]
Even if meander doesn't change to make this code work, I want to at least record it here. It took me a while to figure out what was causing the exception.
[code]

[2022-02-02 00:20] noprompt commented on #227
Interesting! Hmm... it seems like this should possible. Some brain storming should happen here. Off the top of my head I'm thinking "what if we had a wrapper for maps/structs/sets which held on to a set of keys that have been removed from the collection such that `find`/`contains?` returns `nil`/`false`?". I'm open to ideas here.

[2022-02-03 23:12] rgkirch commented on #227
Yea, my first thought was to just make it a map before matching against it but then you'd have some unavoidable overhead for large structures. I do think it makes sense to support dissocing here so I'm in favor of your suggestion. I don't have a better idea than that.

[2022-02-12 00:03] sergey-latacora opened #228 ""N or More" operator matches on empty list in m/search when N is nonzero"
When using the [n or more operator](https://github.com/noprompt/meander/blob/epsilon/doc/operator-overview.md#n-or-more) to match a pattern in a vec with a preceding `any` (`_`) operator; the n-or-more operator will match empty lists in `m/search`. This behavior is different from from `m/match`, which will **not match** on empty lists.

Code snippet for reproducing:
[code]
See brief [discussion in

[2022-02-16 18:31] prepor opened #229 "meander.interpreter.epsilon/finder doesn't work with multiple clauses"
Hi.

`[query f & more-clauses]` args version of `finder` calls `finder-from` with a collection of pairs while `finder-from` expects clauses list and partition it by itself.

And there is no single test for `meander.interpreter.epsilon/finder` with multiple clauses.

The fix is simple:
Instead of `(finder-from (cons [query f] (partition 2 more-clauses)))` we can `(finder-from (cons query (cons f mo

[2022-02-26 23:26] awb99 opened #230 "reflection warning"
I am getting this warning when I add meander to my project:
[code]

[2022-02-28 22:28] noprompt commented on #229
Yes. Please!

[2022-05-24 15:53] aleksandersumowski commented on #153
Is meander still not compatible with babashka?

[2022-05-24 15:55] borkdude commented on #153
@aleksandersumowski Since the latest release you should be able to load meander, but I think there are a few edge cases that might not be working yet. Feel free to report them in terms of small standalone issues on the bb side of things and we can see if we can fix those.

[2022-05-24 16:01] aleksandersumowski commented on #153
ok, I'll give it a try :)

[2022-07-03 03:26] xiongtx opened #234 "Performance issue with compiling a large Maybe pattern"
# Problem

When matching maps with keys whose value could be `nil` or maps themselves, we use the [Maybe pattern](https://github.com/noprompt/meander/blob/55f5ce70e6ef717e95c58260f6bc725d70c0cb6d/doc/cookbook.md#the-maybe-pattern). E.g.

[code]

When dealing w/ a large number of optional values, however, performance of compiling the function degrades rapidly. The following takes nearly 10s to eval

[2022-07-11 21:05] noprompt commented on #234
@xiongtx Thanks for the report. I am sorry this takes a while to compile. This is totally due to how `m/or` is compiled. This is likely generating a lot of code. Even when I try to macro expand the code, Cider times out.

Alternatively, you could try the following.

[code]

This has the same semantics, compiles more quickly, and generates far less code.

[2022-07-13 18:34] xiongtx commented on #234
Cool, per [discussion on Clojurians](https://clojurians.slack.com/archives/CFFTD7R6Z/p1657573696876719) I think the main effort should be on `meander.zeta`, so I'll close this.

[2022-07-13 18:34] #234 closed, assigned to nobody

[2022-11-15 03:35] alysbrooks opened #236 "Cljdocs build fails when attempting to import Git"
Looking at docs for the [latest version](https://cljdoc.org/d/meander/epsilon/0.0.650), the Cljdoc build fails: https://cljdoc.org/builds/48006. I'm not seeing a Git repository listed on Clojars either, so I'm assuming it's failing to be added to your `pom.xml` for some reason.